.cart-container {
  background: white;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  width: 33%;
  min-height: 100%;
  position: fixed;
  top: 0%;
  right: 0%;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
}

.close {
  transform: translateX(110%);
}

.open {
  transform: translateX(-0%);
}

.cart-img {
  width: 100px;
  height: 100px;
}

.cart-items-container {
  padding-top: 4rem;
}

.cart-item-container {
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
  background: white;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.action-container {
  flex: 1;
}

.action-container p {
  font-size: 1rem;
  font-weight: 00;
  padding-left: 1.5rem;
}

.clear-all {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}
