@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.Order {
  margin: auto auto;
  font-family: "Quicksand";
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

/*  list */

.item-list {
  background-color: #f0f0f2;
  padding: 100px 90px;
  font-family: "Quicksand";
  width: 600px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin-block-start: 5rem;
  border-bottom: 2px solid #9baba9;
  border-top: 2px solid #9baba9;
  background-color: #f0f0f2;
  font-family: "Quicksand";
}

.item img {
  max-width: 100px;
  max-height: 100px;
}
.item-list:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.item p {
  font-size: 15px;
  color: black;
  margin-bottom: 8px;
  font-family: "Quicksand";
}

.status {
  background-color: #24346a;
  color: rgb(255, 255, 255);
  padding: 15px 15px;
  font-family: "Quicksand";
  text-align: center;
  margin-top: 60px;
}

.status h4 {
  color: rgb(255, 255, 255);
  font-family: "Quicksand";
}

.table td {
  width: 250px;
  height: 50px;
  padding: 10px auto;
  text-align: center;
  font-family: "Quicksand";
  font-size: 15px;
}
.table .head {
  background-color: #24346a;
  width: 250px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "Quicksand";
}

.rw {
  background-color: #d8e0df;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  font-family: "Quicksand";
  font-weight: bold;
  text-align: center;
}

.table {
  border-collapse: collapse;
  margin-top: 20px;
}
.orderList {
  max-width: 1000px;
  margin: 120px auto;
  padding: 125px;
  background-color: rgb(245, 245, 245);
  border-radius: 0.5;
  font-family: "Quicksand";
}

.orderList:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.table:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.bttn {
  border: none;
  padding: 9px 40px;
  background-color: #24346a;
  color: #ffffff;
  border-radius: 4px;
}

.bttn:hover {
  color: #999b9b;
  background-color: #284fcf;
}

.rw:hover {
  font-weight: bolder;
  background-color: whitesmoke;
  color: #999b9b;
}

.pp {
  width: 1000px;
  height: 500px;
}


